{% if user.type == "Student"%}{% extends 'rotas/base_user.html' %}
{% else %}
    {% extends 'rotas/base_admin.html' %}
    {% block baradmin %}
        {% if user.type == "Master" %}
            <li><a href="/manage/admins"><i class="fa fa-users"></i> Admins</a></li>
        {% endif %}
        {% if user.type == "Master" or user.type == "Admin"%}
            <li><a href="/manage/coordinators"><i class="fa fa-male"></i> Coordinators</a></li>
        {% endif %}
        {% if user.type == "Master" or user.type == "Admin" or user.type == "Coordinator" %}
            <li><a href="/manage/secretaries"><i class="fa fa-street-view"></i> Secretaries</a></li>
        {% endif %}
    {% endblock %}
    {% block barnav %}
        {% if user.type == "Master" or user.type == "Admin"%}
        <li><a href="/manage/stages"><i class="fa fa-shield"></i> Stages</a></li>
        <li><a href="/manage/lessons"><i class="fa fa-bookmark"></i> Lessons</a></li>
        <li><a href="/manage/conversations"><i class="fa fa-comments"></i> Conversations</a></li>
        <li><a href="/manage/grammarspots"><i class="fa fa-quote-right"></i> Grammar Spots</a></li>
        <li><a href="/manage/videoclasses"><i class="fa fa-video-camera"></i> Video Classes</a></li>
        <li><a href="/manage/vocabularies"><i class="fa fa-sort-alpha-asc"></i> Vocabularies</a></li>
        <li><a href="/manage/texts"><i class="fa fa-book"></i> Texts</a></li>
        <li><a href="/manage/exercises"><i class="fa fa-star"></i> Exercises</a></li>
        <li><a href="/manage/answers"><i class="fa fa-gavel"></i> Answers</a></li>
        {% endif %}
    {% endblock %}
{% endif %}
{% block main %}
    <!--MAIN-->
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2 section">

        <div class="row">
{#            <h2><i class="fa fa-cog fa-spin"></i> Password</h2>#}
            <p align="center"><img src="/static/img/icon/password.png" class="img img-responsive icone-small" alt=""></p>
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-12 fit">
                <form action="/update_password" method="post">
                    <p><input type="password" class="form-control input-lg" placeholder="Previous password" name="prev_password" autofocus></p>
                    <p><input type="password" class="form-control input-lg" placeholder="New password" name="new_password"></p>
                    <p><input type="password" class="form-control input-lg" placeholder="Repeat password" name="repeat_password"></p>
                    <p align="center"><button class="btn btn-success btn-lg" type="submit"><i class="fa fa-check"> </i> Save</button></p>
                </form>
                {% if success %}
                    <ul class="alert-group">
                        <li class="list-group-item list-group-item-success">{{ success }}</li>
                    </ul>
                {% endif %}
                {% if error %}
                    <ul class="alert-group">
                        <li class="list-group-item list-group-item-danger">{{ error }}</li>
                    </ul>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
    <!--MAIN-->
{% endblock %}