{% if user.type == "Student" %}
{% extends 'rotas/base_user.html' %}
{% else %}
{% extends 'rotas/base_admin.html' %}
    {% block baradmin %}
        {% if user.type == "Master" %}
            <li><a href="/manage/admins"><i class="fa fa-users"></i> Admins</a></li>
        {% endif %}
        {% if user.type == "Master" or user.type == "Admin"%}
            <li><a href="/manage/coordinators"><i class="fa fa-male"></i> Coordinators</a></li>
        {% endif %}
        {% if user.type == "Master" or user.type == "Admin" or user.type == "Coordinator" %}
            <li><a href="/manage/secretaries"><i class="fa fa-street-view"></i> Secretaries</a></li>
        {% endif %}
    {% endblock %}
    {% block barnav %}
        {% if user.type == "Master" or user.type == "Admin"%}
        <li><a href="/manage/stages"><i class="fa fa-shield"></i> Stages</a></li>
        <li><a href="/manage/lessons"><i class="fa fa-bookmark"></i> Lessons</a></li>
        <li><a href="/manage/conversations"><i class="fa fa-comments"></i> Conversations</a></li>
        <li><a href="/manage/grammarspots"><i class="fa fa-quote-right"></i> Grammar Spots</a></li>
        <li><a href="/manage/videoclasses"><i class="fa fa-video-camera"></i> Video Classes</a></li>
        <li><a href="/manage/vocabularies"><i class="fa fa-sort-alpha-asc"></i> Vocabularies</a></li>
        <li><a href="/manage/texts"><i class="fa fa-book"></i> Texts</a></li>
        <li><a href="/manage/exercises"><i class="fa fa-star"></i> Exercises</a></li>
        <li><a href="/manage/answers"><i class="fa fa-gavel"></i> Answers</a></li>
        {% endif %}
    {% endblock %}
{% endif %}
{% block main %}
    <!--MAIN-->
    <div class="container-fluid">
        <div class="row">
            <h2><i class="fa fa-heart fa-2x"></i> {{ student.username }}</h2>
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="panel panel-danger">
                    <!-- Default panel contents -->
                    <div class="panel-heading"> <h3>Level</h3></div>
                    <div class="panel-body">
                        <p> <h1> <strong>{{ level }}</strong></h1></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            {% for b in bio %}
            <div class="col-md-3 text-center">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading"> <h3> {{ b['stage'] }} </h3></div>
                    <div class="panel-body">
                        <p> <h1> <strong>{{ b['score'] }}</strong></h1></p>
                    </div>
                    <div class="panel-footer">
{#                        <p> <a href="bio/{{ student.id }}/{{ b['stage'] }}" class="btn btn-primary"> enter </a> </p>#}
                        <p> <a href="#" class="btn btn-primary"> enter </a> </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--MAIN-->
{% endblock %}
{% block js %}

{% endblock %}