{% if user.type == "Student" %}
{% extends 'rotas/base_user.html' %}
{% else %}
{% extends 'rotas/base_admin.html' %}
    {% block baradmin %}
        {% if user.type == "Master" %}
            <li><a href="/manage/admins"><i class="fa fa-users"></i> Admins</a></li>
        {% endif %}
        {% if user.type == "Master" or user.type == "Admin"%}
            <li><a href="/manage/coordinators"><i class="fa fa-male"></i> Coordinators</a></li>
        {% endif %}
        {% if user.type == "Master" or user.type == "Admin" or user.type == "Coordinator" %}
            <li><a href="/manage/secretaries"><i class="fa fa-street-view"></i> Secretaries</a></li>
        {% endif %}
    {% endblock %}
    {% block barnav %}
        {% if user.type == "Master" or user.type == "Admin"%}
        <li><a href="/manage/stages"><i class="fa fa-shield"></i> Stages</a></li>
        <li><a href="/manage/lessons"><i class="fa fa-bookmark"></i> Lessons</a></li>
        <li><a href="/manage/conversations"><i class="fa fa-comments"></i> Conversations</a></li>
        <li><a href="/manage/grammarspots"><i class="fa fa-quote-right"></i> Grammar Spots</a></li>
        <li><a href="/manage/videoclasses"><i class="fa fa-video-camera"></i> Video Classes</a></li>
        <li><a href="/manage/vocabularies"><i class="fa fa-sort-alpha-asc"></i> Vocabularies</a></li>
        <li><a href="/manage/texts"><i class="fa fa-book"></i> Texts</a></li>
        <li><a href="/manage/exercises"><i class="fa fa-star"></i> Exercises</a></li>
        <li><a href="/manage/answers"><i class="fa fa-gavel"></i> Answers</a></li>
        {% endif %}
    {% endblock %}
{% endif %}

{% block main %}
    <!--MAIN-->
    <div class="container-fluid section">
        <div class="row fit">
            <p align="center"><img src="/static/img/icon/status.png" class="img img-responsive icone-small" alt=""></p>
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="row fit text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Graphics <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/exercisesdone">General</a></li>
                            <li><a href="/exercisesdone/week">Week</a></li>
                            <li><a href="/exercisesdone/month">Month</a></li>
                            <li><a href="/exercisesdone/year">Year</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row fit">
                    <div class="col-3-sm">
                        <form action="/exercisedone/search">
                            <input type="text" class="form-control input" placeholder="Search" name="search">
                        </form>
                    </div>
                </div>
                <div class="row fit">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Stage</th>
                                <th>Lesson</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Text</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for exercisedone in exercisesdone %}
                            <tr method="post">
                                <td>{{ exercisedone.exercise.lesson.stage.title }}</td>
                                <td>{{ exercisedone.exercise.lesson.title }}</td>
                                <td>{{ exercisedone.exercise.title }}</td>
                                <td>{{ exercisedone.exercise.description }}</td>
                                <td>{{ exercisedone.exercise.type }}</td>
                                <td>{{ exercisedone.exercise.text.title }}</td>
                                <th>{{ exercisedone.date.day }}/{{ exercisedone.date.month }}/{{ exercisedone.date.year }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if pages and pages > 1 and id_user%}
                    <div class="row text-center">
                        <ul class="pagination">
                            {% if active > 1 %}<li><a href="/student/exercisesdone/{{ id_user }}/1" title="First"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a href="/student/exercisesdone/{{ id_user }}/{{ active - 1 }}" title="Previous"><i class="fa fa-angle-left"></i></a></li>{% endif %}
                            {% for i in range( index, index + 10) %}
                                {% if i <= pages %}
                                <li  class="{% if active == i %}active{% endif %}">
                                    <a href="/student/exercisesdone/{{ id_user }}/{{ i }}">{{ i }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            {% if active < pages %}<li><a href="/student/exercisesdone/{{ id_user }}/{{ active + 1 }}" title="Next"><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="/student/exercisesdone/{{ id_user }}/{{ pages }}" title="Last"><i class="fa fa-angle-double-right"></i></a></li>{% endif %}
                        </ul>
                    </div>
                {% elif pages and pages > 1 %}
                    <div class="row text-center">
                        <ul class="pagination">
                            {% if active > 1 %}<li><a href="/exercisesdone/1" title="First"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a href="/exercisesdone/{{ active - 1 }}" title="Previous"><i class="fa fa-angle-left"></i></a></li>{% endif %}
                            {% for i in range( index, index + 10) %}
                                {% if i <= pages %}
                                <li  class="{% if active == i %}active{% endif %}">
                                    <a href="/exercisesdone/{{ i }}">{{ i }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            {% if active < pages %}<li><a href="/exercisesdone/{{ active + 1 }}" title="Next"><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="/exercisesdone/{{ pages }}" title="Last"><i class="fa fa-angle-double-right"></i></a></li>{% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!--MAIN-->
{% endblock %}
{% block js %}

{% endblock %}