{% extends 'rotas/base_user.html' %}
{% block course %}
{#    <li><a href="/stages/{{ id_course }}" title="Stages"><i class="fa fa-shield"></i> Stages</a></li>#}
{% endblock %}
{#{% block navbar %}#}
{#    <li><a href="/stages/{{ id_course }}" title="Stages"><i class="fa fa-shield"></i> Stages</a></li>#}
{#    <li role="separator" class="divider"></li>#}
{#{% endblock %}#}
{% block main %}
    <!--MAIN-->
    <div class="container-fluid section">
        <div class="row">
            <h1 class="text-center">Tutorial</h1>
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>1. Cursos</h2></p>
                <p><i class="fa fa-circle"></i> Ao entrar no site você verá a página de curso.</p>
                <p><i class="fa fa-circle"></i> Você deve entrar no curso que você escolheu.</p>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>2. Estágios</h2></p>
                <p><i class="fa fa-circle"></i> Escolha o(s) estágio(s) que você adquiriu.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>3. Lições</h2></p>
                <p><i class="fa fa-circle"></i> Existem 15 lições para cada estágio.</p>
                <p><i class="fa fa-circle"></i> Estude 1 lição lição por semana.</p>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>4. Gramática</h2></p>
                <p><i class="fa fa-circle"></i> Nesta seção você encontra a explicação gramatical da lição escolhida.</p>
                <p><i class="fa fa-circle"></i> Caso exista alguma dúvida, anote e leve ao professor em sala de aula.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>5. Vídeo Aula</h2></p>
                <p><i class="fa fa-circle"></i> Assista a vídeo aula relacionada a lição escolhida.</p>
                <p><i class="fa fa-circle"></i> Assista novamente caso necessário.</p>
                <p><i class="fa fa-circle"></i> Se mesmo assim existir dúvida, leve-as para seu professor em sala de aula.</p>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>6. Vocabulário</h2></p>
                <p><i class="fa fa-circle"></i> Nesta seção você encontra todos as palavras relacionadas a lição escolhida.</p>
                <p><i class="fa fa-circle"></i> Escute a pronuncia correta desta palavra e tente memorizá-la.</p>
                <p><i class="fa fa-circle"></i> Repita esse processo até você lembra mais facilmente das palavrras.</p>
            </div>
        </div>
        <div class="row text">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>7. Exercícios</h2></p>
                <p><i class="fa fa-circle"></i> Existem 4 tipos de exercícios para serem praticados:</p>
                <p><i class="fa fa-circle-o"></i> Audição, Leitura, Oratória, Escrita</p>
                <p><i class="fa fa-circle"></i> Faça 5 exercícios de cada tipo, 20 por dia no total.</p>
                <p><i class="fa fa-circle"></i> Mantenha sua frequência em fazer exercícios.</p>
                <p><i class="fa fa-circle"></i> Caso você cumpra todos os exercícios em menos de uma semana, refaça-os até a semana seguinte.</p>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>8. Conversação</h2></p>
                <p><i class="fa fa-circle"></i> Nesta seção você encontra as perguntas para serem feitas em sala de aula com seus colegas.</p>
                <p><i class="fa fa-circle"></i> Lembre-se estas perguntas são para te ajudar.</p>
                <p><i class="fa fa-circle"></i> Não fique preso a elas, pelo contrário, sempre tente criar perguntas.</p>
            </div>
        </div>
        <div class="row text">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>9. Exercícios Feitos</h2></p>
                <p><i class="fa fa-circle"></i> Nesta seção você encontra os exercícios que você já realizou.</p>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>10. Pagamentos</h2></p>
                <p><i class="fa fa-circle"></i> Aqui você encontra o registro dos seus pagamentos.</p>
                <p><i class="fa fa-circle"></i> Sempre fique em dia com a escola.</p>
                <p><i class="fa fa-circle"></i> Nosso sistema te avisa quando sua conta expira.</p>
                <p><i class="fa fa-circle"></i> Em caso de dúvidas, entre em contato com a escola.</p>
            </div>
        </div>
        <div class="row text">
            <div class="col-md-offset-2 col-md-8">
                <p><h2>11. Ranking</h2></p>
                <p><i class="fa fa-circle"></i> Aqui você encontra os melhores alunos.</p>
                <p><i class="fa fa-circle"></i> Seja você o nosso melhor aluno e sempre melhore sua pontuação.</p>
                <p><i class="fa fa-circle"></i> Queremos te ver no topo do nosso ranking.</p>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <a href="/courses" class="btn btn-success btn-lg"> Entendi! </a>
        </div>
    </div>
    <br>
    <br>

    <!--MAIN-->
{% endblock %}