{% extends 'rotas/base_admin.html' %}
{% block baradmin %}
    {% if user.type == "Master" %}
        <li><a href="/manage/admins"><i class="fa fa-users"></i> Admins</a></li>
    {% endif %}
    {% if user.type == "Master" or user.type == "Admin"%}
        <li><a href="/manage/coordinators"><i class="fa fa-male"></i> Coordinators</a></li>
    {% endif %}
    {% if user.type == "Master" or user.type == "Admin" or user.type == "Coordinator" %}
        <li><a href="/manage/secretaries"><i class="fa fa-street-view"></i> Secretaries</a></li>
    {% endif %}
{% endblock %}
{% block barnav %}
    {% if user.type == "Master" or user.type == "Admin"%}
    <li><a href="/manage/stages"><i class="fa fa-shield"></i> Stages</a></li>
    <li><a href="/manage/lessons"><i class="fa fa-bookmark"></i> Lessons</a></li>
    <li><a href="/manage/conversations"><i class="fa fa-comments"></i> Conversations</a></li>
    <li><a href="/manage/grammarspots"><i class="fa fa-quote-right"></i> Grammar Spots</a></li>
    <li><a href="/manage/videoclasses"><i class="fa fa-video-camera"></i> Video Classes</a></li>
    <li><a href="/manage/vocabularies"><i class="fa fa-sort-alpha-asc"></i> Vocabularies</a></li>
    <li><a href="/manage/texts"><i class="fa fa-book"></i> Texts</a></li>
    <li><a href="/manage/exercises"><i class="fa fa-star"></i> Exercises</a></li>
    <li><a href="/manage/answers"><i class="fa fa-gavel"></i> Answers</a></li>
    {% endif %}
{% endblock %}
{% block main %}
    <!--MAIN-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p align="center"> <h1>Edit Payment</h1> </p>
                        <form action="/payment/update/{{ payment.id }}" method="post">
                            <p><input type="text" class="form-control input-lg" placeholder="ID" name="user_id" value="{{ payment.user.id }}"></p>
                            <p><input type="text" class="form-control input-lg" placeholder="Username" name="username" value="{{ payment.user.username }}"></p>
                            <p><input type="text" class="form-control input-lg" placeholder="Description" name="description" value="{{ payment.description }}" autofocus></p>
                            <p><input type="text" class="form-control input-lg" placeholder="Value" name="value" value="{{ payment.value }}"></p>
                            <p><div class="form-inline">
                                <div class="form-group">
                                    <label>Day:</label>
                                    <select name="dd" class="form-control input-lg">
                                        {%  for day in days %}
                                            {% if day == payment.date.day %}
                                                <option selected="selected">{{ day }}</option>
                                            {% else %}
                                                <option>{{ day }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Month:</label>
                                    <select name="mm" class="form-control input-lg">
                                        {%  for month in monthes %}
                                            {% if month == payment.date.month %}
                                                <option selected="selected">{{ month }}</option>
                                            {% else %}
                                                <option>{{ month }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Year:</label>
                                    <select name="yy" class="form-control input-lg">
                                        {%  for year in years %}
                                            {% if year == payment.date.year %}
                                                <option selected="selected">{{ year }}</option>
                                            {% else %}
                                                <option>{{ year }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div></p>
{#                            <p><input type="text" class="form-control input-lg" placeholder="Date" name="date" value="{{ payment.date.day }}/{{ payment.date.month }}/{{ payment.date.year }}"></p>#}
                            <p><input type="text" class="form-control input-lg" placeholder="Month" name="month" value="{{ payment.month }}"></p>
                            <p align="center"><button class="btn btn-success btn-lg" type="submit">
                                <i class="fa fa-check"></i> Save</button></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
    <!--MAIN-->
{% endblock %}
{% block js %}

{% endblock %}