{% extends 'rotas/base_admin.html' %}
{% block baradmin %}
    {% if user.type == "Master" %}
        <li><a href="/manage/admins"><i class="fa fa-users"></i> Admins</a></li>
    {% endif %}
    {% if user.type == "Master" or user.type == "Admin"%}
        <li><a href="/manage/coordinators"><i class="fa fa-male"></i> Coordinators</a></li>
    {% endif %}
    {% if user.type == "Master" or user.type == "Admin" or user.type == "Coordinator" %}
        <li><a href="/manage/secretaries"><i class="fa fa-street-view"></i> Secretaries</a></li>
    {% endif %}
{% endblock %}
{% block barnav %}
    {% if user.type == "Master" or user.type == "Admin"%}
    <li><a href="/manage/stages"><i class="fa fa-shield"></i> Stages</a></li>
    <li><a href="/manage/lessons"><i class="fa fa-bookmark"></i> Lessons</a></li>
    <li><a href="/manage/conversations"><i class="fa fa-comments"></i> Conversations</a></li>
    <li><a href="/manage/grammarspots"><i class="fa fa-quote-right"></i> Grammar Spots</a></li>
    <li><a href="/manage/videoclasses"><i class="fa fa-video-camera"></i> Video Classes</a></li>
    <li><a href="/manage/vocabularies"><i class="fa fa-sort-alpha-asc"></i> Vocabularies</a></li>
    <li><a href="/manage/texts"><i class="fa fa-book"></i> Texts</a></li>
    <li><a href="/manage/exercises"><i class="fa fa-star"></i> Exercises</a></li>
    <li><a href="/manage/answers"><i class="fa fa-gavel"></i> Answers</a></li>
    {% endif %}
{% endblock %}
{% block main %}
    <!--MAIN-->
    <div class="container-fluid">
        <div class="row">
            <h2><i class="fa fa-money fa-2x"></i> Total: {{ total }}</h2>
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
{#                    <form action="/manage/payments/month" method="post">#}
                        <div class="form-group">
                            <div class="col-sm-1 text-rignt">
                                <h4><b>Month:</b></h4>
                            </div>
                            <div class="col-md-1">
                                 <select class="form-control" id="month">
                                     {% for month in monthes %}
                                         {% if month == mm %}
                                         <option selected="selected">{{ month }}</option>
                                         {% else %}
                                         <option>{{ month }}</option>
                                         {% endif %}
                                     {% endfor %}
                                 </select>
                            </div>
                            <div class="col-md-2">
                                 <select class="form-control" id="year">
                                     {% for year in years %}
                                         {% if year == yy %}
                                         <option selected="selected">{{ year }}</option>
                                         {% else %}
                                         <option>{{ year }}</option>
                                         {% endif %}
                                     {% endfor %}
                                 </select>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger" onclick="month()">check</button>
                            </div>
                        </div>
{#                    </form>#}
                </div>
                <br>
                <div class="row">
                    <a href="/manage/users" class="btn btn-primary"><i class="fa fa-plus"></i> Payment</a>
                    <a href="/manage/payments" class="btn btn-success"><i class="fa fa-refresh"></i> Payments</a>
                </div>
                <br>
                <div class="row">
                    <div class="col-3-sm">
                        <form action="/payment/search">
                            <input type="text" class="form-control input" placeholder="Search by description, value, date, username, email, fullname, rg or cpf" name="search">
                        </form>
                    </div>
                </div>
                <br>
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Description</th>
                                <th>Value</th>
                                <th>Date</th>
                                <th>Month</th>
                                {% if user.type == "Master" or user.type == "Admin" %}<th></th>{% endif %}
                                {% if user.type == "Master" %}<th></th>{% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for payment in payments %}
                            <tr method="post">
                                <td>{{ payment.id }}</td>
                                <td>{{ payment.user.username }}</td>
                                <td>{{ payment.description }}</td>
                                <td>{{ payment.value }}</td>
                                <td>{{ payment.date.day }}/{{ payment.date.month }}/{{ payment.date.year }}</td>
                                <td>{{ payment.month }}</td>
                                {% if user.type == "Master" or user.type == "Admin" %}
                                <td>
                                    <a href="/payment/edit/{{ payment.id }}" class="btn btn-sm btn-warning" name="edit" title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                {% endif %}
                                {% if user.type == "Master" %}
                                <td>
                                    <a class="btn btn-sm btn-danger" name="delete" id="delete{{ payment.id }}" title="Delete" onclick="review({{ payment.id }})">
                                         <i class="fa fa-trash"></i>
                                    </a>
                                    <a class="btn btn-sm btn-success hidden" title="Confirm" id="confirm{{ payment.id }}" onclick="confirm('/payment/delete/{{ payment.id }}')">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    <a class="btn btn-sm btn-primary hidden" title="Cancel" id="cancel{{ payment.id }}" onclick="cancel({{ payment.id }})">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if pages and pages > 1 %}
                <div class="row">
                    <ul class="pagination">
                        {% if active > 1 %}<li><a href="/payments/month/{{ mm }}/{{ yy }}/1" title="First"><i class="fa fa-angle-double-left"></i></a></li>
                        <li><a href="/payments/month/{{ mm }}/{{ yy }}/{{ active - 1 }}" title="Previous"><i class="fa fa-angle-left"></i></a></li>{% endif %}
                        {% for i in range( index, index + 10) %}
                            {% if i <= pages %}
                            <li  class="{% if active == i %}active{% endif %}">
                                <a href="/payments/month/{{ mm }}/{{ yy }}/{{ i }}">{{ i }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                        {% if active < pages %}<li><a href="/payments/month/{{ mm }}/{{ yy }}/{{ active + 1 }}" title="Next"><i class="fa fa-angle-right"></i></a></li>
                        <li><a href="/payments/month/{{ mm }}/{{ yy }}/{{ pages }}"><i class="fa fa-angle-double-right"></i></a></li>{% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!--MAIN-->
{% endblock %}
{% block js %}
{% endblock %}