{% extends 'rotas/base_admin.html' %}
{% block baradmin %}
    {% if user.type == "Master" %}
        <li><a href="/manage/admins"><i class="fa fa-users"></i> Admins</a></li>
    {% endif %}
    {% if user.type == "Master" or user.type == "Admin"%}
        <li><a href="/manage/coordinators"><i class="fa fa-male"></i> Coordinators</a></li>
    {% endif %}
    {% if user.type == "Master" or user.type == "Admin" or user.type == "Coordinator" %}
        <li><a href="/manage/secretaries"><i class="fa fa-street-view"></i> Secretaries</a></li>
    {% endif %}
{% endblock %}
{% block barnav %}
    {% if user.type == "Master" or user.type == "Admin"%}
    <li><a href="/manage/stages"><i class="fa fa-shield"></i> Stages</a></li>
    <li><a href="/manage/lessons"><i class="fa fa-bookmark"></i> Lessons</a></li>
    <li><a href="/manage/conversations"><i class="fa fa-comments"></i> Conversations</a></li>
    <li><a href="/manage/grammarspots"><i class="fa fa-quote-right"></i> Grammar Spots</a></li>
    <li><a href="/manage/videoclasses"><i class="fa fa-video-camera"></i> Video Classes</a></li>
    <li><a href="/manage/vocabularies"><i class="fa fa-sort-alpha-asc"></i> Vocabularies</a></li>
    <li><a href="/manage/texts"><i class="fa fa-book"></i> Texts</a></li>
    <li><a href="/manage/exercises"><i class="fa fa-star"></i> Exercises</a></li>
    <li><a href="/manage/answers"><i class="fa fa-gavel"></i> Answers</a></li>
    {% endif %}
{% endblock %}
{% block main %}
    <!--MAIN-->
    {% if type == "Admin" %} {% set t = "admin" %} {% set v = "admins" %} {% set icon = "users" %}
    {% elif type == "Coordinator" %} {% set t = "coordinator" %} {% set v = "coordinators" %} {% set icon = "male" %}
    {% elif type == "Secretary" %} {% set t = "secretary" %} {% set v = "secretaries" %} {% set icon = "street-view" %}
    {% elif type == "Teacher" %} {% set t = "teacher" %} {% set v = "teachers" %} {% set icon = "users" %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <h2><i class="fa fa-{{ icon }} fa-2x"></i> {{ type }}</h2>
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <a href="/{{ t }}/new" class="btn btn-primary"><i class="fa fa-plus"></i> {{ v }}</a>
                    <a href="/manage/{{ v }}" class="btn btn-success"><i class="fa fa-refresh"></i> {{ v }}</a>
                </div>
                <br>
                <div class="row">
                    <div class="col-3-sm">
                        <form action="/admin/search">
                            <input type="text" class="form-control input" placeholder="Search admin" name="search">
                        </form>
                    </div>
                </div>
                <br>
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th></th>
                                {% if type == "Teacher" %}<th></th>{% endif %}
                                {% if user.type == "Master" %}<th></th>{% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for admin in admins %}
                            <tr method="post">
                                <td>{{ admin.id }}</td>
                                <td>{{ admin.username }}</td>
                                <td>{{ admin.email }}</td>
                                <td>
                                    <a href="/{{ t }}/edit/{{ admin.id }}" class="btn btn-sm btn-warning" name="edit" title="Edit">
                                         <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                {% if type == "Teacher" %}
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="/teacher/{{ admin.id }}/students" title="Students">
                                             <i class="fa fa-graduation-cap"></i>
                                        </a>
                                    </td>
                                {% endif %}
                                {% if user.type == "Master" %}
                                    <td>
                                        <a class="btn btn-sm btn-danger" name="delete" id="delete{{ admin.id }}" title="Delete" onclick="review({{ admin.id }})">
                                             <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="btn btn-sm btn-success hidden" title="Confirm" id="confirm{{ admin.id }}" onclick="confirm('/admin/delete/{{ admin.id }}/{{ type }}')">
                                            <i class="fa fa-check"></i>
                                        </a>
                                        <a class="btn btn-sm btn-primary hidden" title="Cancel" id="cancel{{ admin.id }}" onclick="cancel({{ admin.id }})">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                {% endif %}
{#                            {% endif %}#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if pages > 1 %}
                <div class="row">
                    <ul class="pagination">
                        {% if active > 1 %}<li><a href="/manage/{{ v }}/1" title="First"><i class="fa fa-angle-double-left"></i></a></li>
                        <li><a href="/manage/{{ v }}/{{ active - 1 }}" title="Previous"><i class="fa fa-angle-left"></i></a></li>{% endif %}
                        {% for i in range( index, index + 10) %}
                            {% if i <= pages %}
                            <li  class="{% if active == i %}active{% endif %}">
                                <a href="/manage/{{ v }}/{{ i }}">{{ i }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                        {% if active < pages %}<li><a href="/manage/{{ v }}/{{ active + 1 }}" title="Next"><i class="fa fa-angle-right"></i></a></li>
                        <li><a href="/manage/{{ v }}/{{ pages }}" title="Last"><i class="fa fa-angle-double-right"></i></a></li>{% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!--MAIN-->
{% endblock %}
{% block js %}

{% endblock %}